@inherits ReactiveComponentBase<CardViewModel>
@page "/news"
@inject CardViewModel _cardViewModel
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client;

<div class="mat-layout-grid-cell">
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"></MatCardMedia>
            <div class="demo-mat-card-content">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Our Changing Planet
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    by Kurt Wagner
                </MatSubtitle2>
            </div>
     
            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                Visit ten places on our planet that are undergoing the biggest changes today.
            </MatBody2>
        </MatCardContent>
    </MatCard>
</div>