
@{
    ViewData["Title"] = "Index";
}
@model ContractorViewModel 

<h2>Index</h2>

<div>
    <div>@Model.FirstName</div>
    <div>@Model.LastName</div>
    <div>@Model.DateOfBirth</div>
    <div>@Model.PossibleMatch</div>
</div>